
<div class="container-4assets">

<div class="left-div-4assets"><img class="icon4assets" src="../img/4-assets/Budget_jaune-trdk.svg"></img><br>

		<div class="title-4assets">{{ site.data.traductions[page.lang]4assets-budget }}</div>
		{{ site.data.traductions[page.lang]4assets-budget-txt }}
</div>

<div class="left-div-4assets"><img class="icon4assets" src="../img/4-assets/Sélection_orange-trdk.svg"></img><br>

		<div class="title-4assets">{{ site.data.traductions[page.lang]4assets-selection }}</div>
		{{ site.data.traductions[page.lang]4assets-selection-txt }}
</div>

<div class="left-div-4assets"><img class="icon4assets" src="../img/4-assets/Réactivité_jaune-trdk-rouge.svg"></img><br>


		<div class="title-4assets">{{ site.data.traductions[page.lang]4assets-reactivite }}</div>
		{{ site.data.traductions[page.lang]4assets-reactivite-txt }}
</div>

<div class="right-div-4assets"><img class="icon4assets" src="../img/4-assets/Excellence_vert-trdk.svg"></img><br>

		<div class="title-4assets">{{ site.data.traductions[page.lang]4assets-excellence }}</div>
		{{ site.data.traductions[page.lang]4assets-excellence-txt }}
</div>

</div>
