<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


 <!----------------- Zone d'affichage latérale ------------------->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
  <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
 
 <!----------------- Liste des articles de blog ------------------->
 <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" style="font-size:60%" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <!----------------- Fin de la liste des articles de blog ------------------->
  
</div> <!----------------- Fin de la zone d'affichage latérale ------------------->


<!----------------- Bouton d'affichage ------------------->


  <button class="w3-button w3-light-grey w3-medium w3-right" onclick="openRightMenu()">Actualités <span style="font-size:200%">&#9998;</span></button>
  
<!----------------- Fin du bouton d'affichage ------------------->


     
<script>

function openRightMenu() {
    document.getElementById("rightMenu").style.display = "block";
}
function closeRightMenu() {
    document.getElementById("rightMenu").style.display = "none";
}
</script>
     
</body>
</html>
