


<ul class="catlist">
{% assign tags_list = site.categories %}
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list  %}
 <a href="{{ tag | replace: tag, site.data.permalinks[page.lang][target_file] }}">{{ tag | replace: tag, site.data.traductions[page.lang][target_file] }}</a> <span class="post-count">{% assign tag_lang = tag | where:"lang", page.lang %} ({{ tag_lang.size }}) </span>
    {% endfor %}
  
   {% else %}
    {% for tag in tags_list %}
    {% assign target_file=tag[0] %}
      <li class="catentries"><button class="toggleArticles"> + </button><a href="{{ tag[0] | replace: tag[0], site.data.permalinks[page.lang][target_file] }}">{{ tag[0]| replace: tag[0], site.data.traductions[page.lang][target_file] }} </a><span class="post-count">{% assign tag_lang = tag[1] | where:"lang", page.lang %} ({{ tag_lang.size }}) </span>
          
      
       <ul class="postlist">
    {% assign cat_posts=site.posts | where:"lang", page.lang  %}
   
    {% for cat_post in cat_posts %}
    {% if cat_post.categories contains target_file %}
      <li>
        <span class="postmeta">{{ cat_post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="postlink" style="font-size:50%" href="{{ cat_post.url | prepend: site.baseurl }}">{{ cat_post.title }}</a>
        </h2>
      </li>
          {% endif %}
    {% endfor %}

  </ul>      
      </li>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}

</ul>






<script>
$('.catlist ul').hide();

$('.catentries').click(function() {
    $(this).find('ul').slideToggle();
});

</script>









