<head>

</head>

<header class="site-header"><!----------------- Header ------------------->

  <div class="wrapper"><!----------------- Wrapper dans header ------------------->

     <a href="{{ site.baseurl }}/{{ site.index[page.lang] }}"><img style ="width:40%;margin-top:0.5em;margin-bottom:0.25em" src="{{ site.baseurl }}/{{ site.logo[page.lang] }}"/></a>

  {% include site-nav.html %}

{% include blog-nav.html %}
  </div><!----------------- Fin de wrapper dans header ------------------->

</header><!----------------- Fin de header ------------------->


 {% include language-selector.html %}
