




<!-- Styles dans layout.scss -->

<div class="cartouche">
	<div  id="autoplay">
		<p class="autotext">{{ site.data.traductions[page.lang]bandeau-top }}</p>
		<p class="autotext">{{ site.data.traductions[page.lang]bandeau-top2 }}</p>
		<p class="autotext" style="color:$green-traductik;text-transform: capitalize;font-weight: 600;">Paris &mdash; Nice &mdash; International</p>
	</div>
	<div class="multimodal">
		<span class="clock-text">{{ site.data.traductions[page.lang]clock-text }}</span>
		<span class="phone-text">{{ site.data.traductions[page.lang]phone-text }}</span>
		<span class="search-text">{{ site.data.traductions[page.lang]search-text }}</span>
	</div>
</div>

<!-- Styles dans layout.scss -->

<div id="header-wrapper"> <!----------------- Wrapper de l'en-tête ------------------->


<header id="site-header"> <!----------------- Site header MAIN ------------------->



		<div id="site-nav-wrapper"> <!----------------- Site nav div#1 à droite ------------------->

			{% include site-nav.html %}


		</div> <!----------------- Fin de site nav div#1 à droite ------------------->





		<div id="logo-header"><!----------------- Logo header div#2 à gauche ------------------->
			<span class="tooltiptext2">{{ site.data.traductions[page.lang]tooltip-0 }}</span>
{% assign logo_id = site.data.logos[page.lang] %}
		<a class="logo-link" href="{{ site.baseurl }}/{{ site.index[page.lang] }}"><img class=
		{% if page.ref contains "index" %}
		"logo animated-logo"
		{% else %}
		"logo"
		{% endif %}
		src="{{ site.baseurl }}/{{ logo_id.url }}"></a>
		</div><!----------------- Fin de logo header div#2 à gauche------------------->

{% if page.layout contains "post" %}
{% include breadcrumbs/breadcrumb_post.html path=page.path title=page.title %}
{% elsif page.permalink contains "blog" %}
{% include breadcrumbs/breadcrumb_post.html path=page.path title=page.title %}
{% else %}
{% include breadcrumbs/breadcrumb.html %}
{% endif %}



</header><!----------------- Fin de site header MAIN ------------------->

 <!--------------Script pour les catégories de blog------------->
<script src="/js/textition.js"></script>

<script>
	// autoplay
	$('#autoplay').textition({
		speed: 1,
		animation: 'ease-out',
		map: {
			x: 200,
			y: 100,
			z: 0
		},
		autoplay: true,
		interval: 5
});

	// Affichage des horaires pendant 15 secondes
	function Horaire() {
    setTimeout(Horaire1, 0);
    setTimeout(Horaire2, 15000);
	}
	function Horaire1() {
    $("p.autotext, .search-text, .phone-text").hide(1000);
    $(".clock-text").show(1000);
    $("#phone, #search").removeClass("active-icon");
    $("#clock").addClass("active-icon");
    $("#clock")[0].selectedIndex = -1;
	}
	function Horaire2() {
    $(".search-text, .phone-text, .clock-text").hide();
    $("#clock").removeClass("active-icon");
    $("#clock").css("outline", "none");
    $(".autotext").show();
	}

	// Affichage des coordonnées téléphoniques pendant 15 secondes
	function Phone() {
    setTimeout(Phone1, 0);
    setTimeout(Phone2, 15000);
	}
	function Phone1() {
    $("p.autotext, .search-text, .clock-text").hide(1000);
    $(".phone-text").show(1000);
    $("#clock, #search").removeClass("active-icon");
    $("#phone").addClass("active-icon");
    $("#phone")[0].selectedIndex = -1;
	}
	function Phone2() {
    $(".search-text, .phone-text, .clock-text").hide();
    $("#phone").removeClass("active-icon");
    $("#phone").css("outline", "none");
    $(".autotext").show();
	}

	// Affichage de la recherche pendant 30 secondes

	function Search() {
    setTimeout(Search1, 0);
    setTimeout(Search2, 30000);
	}
	function Search1() {
    $("p.autotext, .phone-text, .clock-text").hide(1000);
    $(".search-text").show(1000);
    $("#clock, #phone").removeClass("active-icon");
    $("#search").addClass("active-icon");
    $("#search")[0].selectedIndex = -1;
	}
	function Search2() {
    $(".search-text, .phone-text, .clock-text").hide();
    $("#search").removeClass("active-icon");
    $("#search").css("outline", "none");
    $(".autotext").show();
	}

</script>


</div>  <!----------------- Fin du wrapper de l'en-tête ------------------->
