
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}</title>
 
 <!--Inclusion pour SEO soit de la description du site, soit du résumé de la page -->
 <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">
  
<!--Lien vers w3schools - à supprimer en cas de nouveau sideblog -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!--Lien vers la feuille de style principale main.css -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
 
 
<!--Lien canonique pour le SEO -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  
<!--Lien des posts et des pages pour le SEO -->
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
  <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />{% endfor %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}
  
<!--Lien pour les abonnements RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}">
 
<!--Inclusion des favicons dans l'onglet du navigateur --> 
  {% include favicons.html %}
  
<!--Jquery et Jquery-ui CDN -->
  
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<!--Fontes de chez Fontawesome-->
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

<!--Fontes de chez Google pour l'effet "manuscrit" -->
<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>

  </head>
