







<div id="header-wrapper"> <!----------------- Wrapper de l'en-tête ------------------->

	
<header id="site-header"> <!----------------- Site header MAIN ------------------->


		
		<div id="site-nav-wrapper"> <!----------------- Site nav div#1 à droite ------------------->
			
			{% include site-nav.html %}
			
			
		</div> <!----------------- Fin de site nav div#1 à droite ------------------->
  
	
	
	
	
		<div id="logo-header"  ><!----------------- Logo header div#2 à gauche ------------------->

		<a href="{{ site.baseurl }}/{{ site.index[page.lang] }}"><img class="logo" src="{{ site.baseurl }}/{{ site.logo[page.lang] }}"/></a>

		</div><!----------------- Fin de logo header div#2 à gauche------------------->

{% if page.layout contains "post" %}
{% include breadcrumbs/breadcrumb_posts.html path=page.path title=page.title %}
{% else %}
{% include breadcrumbs/breadcrumb.html %}
{% endif %}
</header><!----------------- Fin de site header MAIN ------------------->

</div>  <!----------------- Fin du wrapper de l'en-tête ------------------->

