<html>

<!-- Styles dans layout.scss -->

 <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 20">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger"><!----------------- Trigger dans nav ------------------->
		
		
		<ul style="font-size:0.92em">  <!----------------- Niveau 1 ------------------->
		  <!----------------- Entrées de menu ------------------->
       {% assign navpages=site.pages | where:"nav", "navbar"  %}
        {% assign pages=navpages | where:"lang", page.lang %}
        {% for my_page in pages %}
          {% if my_page.title %}
         <li class="dropdown">
	  <a href="javascript:void(0)" class="dropbtn"><!----------------- Drop button ------------------->
			 <a  {% if  page.title == my_page.title %}class="active-link"{% elsif page.categories contains my_page.ref %}class="active-link" {% else %}class="page-link" {% endif %} href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}
			
			
			{% if site.[my_page.ref] %}
			
   <span {% if page.categories contains my_page.ref %} class="active-link triangle" {% else %} class="page-link triangle" {% endif %}>
	<!----------------- Petit triangle pointe en bas pour le sous-menu (layout.scss) ------------------->   
	   </span>
   {% endif %}
  
</a>
       
       <!----------------- End of drop button ------------------->
        
          <div class="dropdown-content">
         <!----------------- Niveau 2 (nested) ------------------->
         <!----------------- Entrées de sous-menu ------------------->
          
       {% assign subpages=site.[my_page.ref] | where:"lang", page.lang %}   
        {% for my_subpage in subpages %}
      
		<a {% if  my_subpage.ref == page.ref %}class="active-link" {% else %}class="page-link" {% endif %} href="{{ my_subpage.url | prepend: site.baseurl }}">{{ my_subpage.title }}</a>
        
        {% endfor %}
             <!----------------- Fin des entrées de sous-menu -------------------> 
          
      </div> <!----------------- Fin du niveau 2 (nested) ------------------->
          
          {% endif %}
        {% endfor %}
       <!----------------- Fin des entrées de menu ------------------->
       
       </li>

	<button id="clock" onclick="Horaire();Horaire1();Horaire2()"><i class="far fa-clock details-link"></i></button>

	<button id="phone" onclick="Phone();Phone1();Phone2()"><i class="fas fa-phone details-link"></i></button>

	<button id="search" onclick="Search();Search1();Search2()"><i class="fas fa-search details-link"></i></button>
	

   <span> <!----------------- Insertion du sélecteur de langue ------------------->
    {% if page.layout!="post" and page.categories %}
 
 {% include selectors/language-selector-{{ page.categories }}.html %}
  
 {% else %}
   
    {% include selectors/language-selector-{{ page.layout }}.html %}

{% endif %}

    </span>  <!----------------- Fin de insertion du sélecteur de langue ------------------->
    
    
    
    </ul><!----------------- Fin du niveau 1 ------------------->
    </div><!----------------- Fin de trigger dans nav ------------------->
  
    </nav>
        
    
 </html>
