<!-- Styles dans base.scss -->



<!-- Liste horizontale des prestations de service -->

<div class="wrapper">
<ul class="bandeau">

	{% assign serv_pages=site.services %}
        {% assign frontpages=serv_pages | where:"lang", page.lang %}
        {% for my_frontpage in frontpages %}
          {% if my_frontpage.title %}

	<li class="bandeauli"><a href="{{ my_frontpage.url | prepend: site.baseurl }}"><span class="tique-orange"></span>{{ my_frontpage.title }}</a></li>

   {% endif %}
   {% endfor %}
</ul>
</div>

<!-- Photo centrale avec accroche et bouton de devis -->
	 <div id="bandeau-accueil">
		 <div class="white-corner"><img src="{{ '/img/overlay-bandeau2.svg' | prepend: site.baseurl }}"></img></div>
      <div style="color:#f8cd2a;margin-top:1%; font-size: 1.5em;text-shadow: 1px 1px #dd840d;"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><br><br><strong>{{ site.data.traductions[page.lang]welcome-header1 }}</strong></div>
      <div style="color: white;margin-top:1em; margin-bottom: 2em;font-size: 3em;text-shadow: 1px 1px #f8cd2a;"><em>{{ site.data.traductions[page.lang]welcome-header2 }}</em></div>
      </div>
