
.breadcrumb {
  float:left;
  padding-top:16px;
  list-style: none;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
}

.breadcrumb { border: 0px;  display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: $orange-traductik;}
.breadcrumb a:hover {color: darken($orange-traductik, 20%);}
.breadcrumb>.active a {color: #555555; }
.breadcrumb>li+li:before {color:$orange-traductik; content: "\003E\00a0";}

