/**
 * Site header
 */
#site-header {    
    border-bottom: 1px solid $grey-color-light;
    margin-bottom: 3em;
    min-height: 6em;
	
    // Positioning context for the mobile navigation icon
    position: relative;
}

#header-wrapper > div header {
  float:right;
  margin:10px;
  padding: 0;
}

       /**
 * Navigation haute
 */

       /**
 * Animation du logo
 */

img.logo {
    position: relative;
    width: 15em;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;

}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {width: 30%;left:-500px; top:0px;transform: rotate(-360deg); }
    25%  {width: 45%;left:80px; top:20px;}
    50%  {width: 55%;left:72px; top:18px;}
    60%  {width: 60%;left:64px; top:16px;}
    65%  {width: 65%;left:56px; top:14px;}
    70%  {width: 70%;left:48px; top:12px;}
    75%  {width: 75%;left:40px; top:10px;}
    80%  {width: 80%;left:32px; top:8px;}
    85%  {width: 85%;left:24px; top: 6px;}
    90%  {width: 90%;left:16px; top: 4px;}
    95%  {width: 95%;left: 8px; top: 2px;}
    100% {width:100%;left: 0px; top: 0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {width: 30%;left:-500px; top:0px;transform: rotate(-360deg); }
    25%  {width: 45%;left:80px; top:20px;}
    50%  {width: 55%;left:72px; top:18px;}
    60%  {width: 60%;left:64px; top:16px;}
    65%  {width: 65%;left:56px; top:14px;}
    70%  {width: 70%;left:48px; top:12px;}
    75%  {width: 75%;left:40px; top:10px;}
    80%  {width: 80%;left:32px; top:8px;}
    85%  {width: 85%;left:24px; top: 6px;}
    90%  {width: 90%;left:16px; top: 4px;}
    95%  {width: 95%;left: 8px; top: 2px;}
    100% {width:100%;left: 0px; top: 0px;}
}




#logo-header {
	margin-top:1.5em;
	max-width: 18em;
	margin-bottom:0.25em;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
 

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    font-size: 1em;
    font-weight: 600;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $orange-traductik;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 10px;
        }
}       
    .details-link {
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 6px;
        }
}

#clock, #phone, #search  {
		border: none;
        background: none;
        padding: 0.35em;
}
     
#clock:hover, #phone:hover, #search:hover {
        color: $orange-traductik;
        transform: scale(1.25, 1.75);
}


.active-icon {
        color: $orange-traductik;
        transform: scale(1.35);
        outline: none;
}

     .active-link {
        color: $green-traductik;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }


       /**
 * Sélecteur de langue
 */

.en:lang(en), .fr:lang(fr) {
	 font-size: 1.25em;
	 line-height: 0.75em;
	}


.language-selector   {
	float: right;
	padding-left: 0;
	}



       /**
 * Menus déroulants
 */


.dropdown a:hover {
    padding: 4px;
    box-shadow:  3px 3px 4px 5px Gainsboro;
    text-decoration: none;  
    color: $green-traductik;
     z-index: 80;
    
    }


li.dropdown {
    display: inline-block;
    padding: 0;
    margin: 0;
     z-index: 80;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 80;
}

.dropdown-content a {
    padding: 10px 14px;
    text-decoration: none;
    color: $green-traductik;
    display: block;
    text-align: left;
    z-index: 80;
}


.dropdown-content a:hover { 
    color: $orange-traductik;
}


.dropdown:hover .dropdown-content {
    display: block;
}



       /**
 * Media queries
 */


    @include media-query($on-laptop) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
           


        .menu-icon {
            display: block;
            float: right;
            width: 3em;
            height: 2em;
            line-height: 0;
            padding-top: 0.5em;
            text-align: center;

            > svg {
                width: 2em;
                height: 1.5em;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }


	

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }


}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Tooltips
 */


.tooltip {
    position: relative;
    display: inline-block;
    line-height: 0.9em;
    
}

.tooltip-border {
    border-bottom: 2px dotted black;

}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 120px;
    background-color: #555;
    color: #fff;
    font-size: 0.85em;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
