<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Accueil</a></li>
		        	<li><a href="/about">Présentation</a></li>
	        		<li><a href="/cv">Histoire</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:traductik@gmail.com">email</a></li>
	        		<li><a href="https://github.com/traductik">github.com/traductik</a></li>
				</ul>
			</footer>
		</body>
	</html>
