
<html lang="{{ page.lang }}">

 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

 <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>


  {% include head.html %}
 

  <body>
<div class="wrapper">
    {% include header.html %}
    </div>
    
    
    <div class="wrapper">
	  
    {% if page.ref == "index" %}

{% include welcome-header.html %}

{% endif %}
</div>
    
    
    
    {% unless page.nav == "nosideblog" %}
    <div class="wrapper">
    {% include blog-right.html %}
    </div>
    {% endunless %}
   
    
    
    <div class="page-content">



      <div class="wrapper">
        {{ content }}
      </div>
    </div>
 <!--------------Script pour les tags------------->
 <script src="/js/tags.js"></script>
  <!--------------Script pour les catégories de blog------------->
 <script src="/js/blog-toc.js"></script>
 
    {% include footer.html %}

  </body>

</html>

