
<html lang="{{ page.lang }}">


  {% include head.html %}


  <body>
<div class="wrapper">
    {% include header.html %}
    </div>



    {% unless page.nav == "nosideblog" %}

    {% include blog-right.html %}

    {% include blog-left.html %}

    {% endunless %}

    {% if page.ref == "index" %}
<div  class="welcome">
{% include welcome-header-video.html %}
</div>


{% endif %}


<div class="wrapper">

	<div class="page-content">

{% if page.ref == "index" %}
{% include 4-assets.html %}
{% endif %}

{{ content }}

	</div>
</div>

    {% include footer.html %}

  </body>



</html>
