
<html lang="{{ page.lang }}">


  {% include head.html %}


  <body>
<div class="wrapper">
    {% include header.html %}
    </div>


    <div class="wrapper">


</div>

    {% unless page.nav == "nosideblog" %}

    {% include blog-right.html %}

    {% endunless %}

<div class="welcome">

    {% if page.ref == "index" %}

{% include welcome-header.html %}

{% endif %}
</div>

    <div class="page-content">


        {{ content }}

    </div>


    {% include footer.html %}

  </body>



</html>
